@charset "utf-8";

/**
 * typography.css
 *
 * @author 
 * @version 2014/03/04
 */
body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
}

abbr {
    text-decoration: none;
    border: 0;
    font-style: normal;
}
